In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [2]:
from google.colab import files
uploaded = files.upload()

Saving Social_Network_Ads.csv to Social_Network_Ads.csv

In [7]:
import pandas as pd

train = pd.read_csv("Social_Network_Ads.csv")
train

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [8]:
train.shape

(400, 5)

In [9]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [10]:
train['Purchased'].value_counts()

0    257
1    143
Name: Purchased, dtype: int64

In [21]:
#train = train.drop('User ID', axis=1)
label_encoder = preprocessing.LabelEncoder() 
label_encoder.fit(train['Gender']) 
train['Gender'] = label_encoder.transform(train['Gender']) 

train.head(20)

    Gender  Age  EstimatedSalary  Purchased
0        1   19            19000          0
1        1   35            20000          0
2        0   26            43000          0
3        0   27            57000          0
4        1   19            76000          0
5        1   27            58000          0
6        0   27            84000          0
7        0   32           150000          1
8        1   25            33000          0
9        0   35            65000          0
10       0   26            80000          0
11       0   26            52000          0
12       1   20            86000          0
13       1   32            18000          0
14       1   18            82000          0
15       1   29            80000          0
16       1   47            25000          1
17       1   45            26000          1
18       1   46            28000          1
19       0   48            29000          1

In [23]:
X = train.drop(['Purchased'], axis = 1)
y = train['Purchased']

In [28]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=1/3, random_state=42)

In [29]:
scores = []
for i in range(1,15):

    knn = KNeighborsClassifier(i)
    knn.fit(X_train,y_train)
    answers = knn.predict(X_test) # метод predict возвращыет вектор ответов для X_test
    
    scores.append(knn.score(X_test,y_test))


print(scores)

[0.7686567164179104, 0.7313432835820896, 0.7611940298507462, 0.7611940298507462, 0.8283582089552238, 0.753731343283582, 0.7985074626865671, 0.7686567164179104, 0.7611940298507462, 0.7611940298507462, 0.7835820895522388, 0.7835820895522388, 0.7835820895522388, 0.7611940298507462]

In [30]:
knn = KNeighborsClassifier(5)
knn.fit(X_train,y_train)
y_pred = knn.predict(X_test)

accuracy_score(y_test,y_pred)

0.8283582089552238

In [31]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score

print("Accuracy:", accuracy_score(y_test,y_pred))
print("Recall:", recall_score(y_test,y_pred))
print("Precision:", precision_score(y_test,y_pred))

Accuracy: 0.8283582089552238
Recall: 0.660377358490566
Precision: 0.875